@reboot         root  /home/ulysse314/scripts/boot.sh          # ULYSSE314
@reboot         root  /home/ulysse314/scripts/backup.sh 30     # ULYSSE314
0  4	* * *	root  /home/ulysse314/scripts/backup.sh        # ULYSSE314
